<header class="blog-header py-3">
  <!-- Implementing my header -->
  <div class="row cabeza">
    <div>
      <a href="#">davidzu.com</a>
      <p>Blog sobre tecnología, administración de proyectos, programación y lo que se me ocurra</p>
      <%= mail_to 'self@davidzu.com', "self@davidzu.com" %> 
    </div>
  </div>

</header>